@use "tailwind-entrypoint.css";

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-average-sans), sans-serif;
}

.flex-center-everything {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.vertically-centered {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-aligned {
    text-align: left;
    @extend .vertically-centered;
}

.red-outline {
    outline: 2px solid red;
}

.blue-outline {
    outline: 2px solid cornflowerblue;
}

.green-outline {
    outline: 2px solid lime;
}
